<div id="wrapper">

  <div id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-brand">
        <a href="<%= root_path %>">
          <h3>Home</h3>
        </a>
      </li>
      <hr>
      <li class="sidebar-title">
        <h4>Previous Searches</h4>
      </li>
      <li>
        <select name="sortby" onchange="location = this.value;">
          <option disabled selected value>select an option</option>
          <option value="<%= new_search_term_path(sortby: "created_at") %>">Created At</option>
          <option value="<%= new_search_term_path(sortby: "attempts") %>"># of Attempts</option>
          <option value="<%= new_search_term_path(sortby: "term") %>">Search Term</option>
        </select>
      </li>
      <% @previous_search_terms.each do |previous_search| %>
        <li>
          <a href="<%= search_term_duplicate_path(previous_search.recent_id) %>"><%= previous_search.term %>
            <span><%= previous_search.attempts %></span></a>
        </li>
      <% end %>
    </ul>
  </div>

  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <h1>New Search</h1>
          <%= render partial: "search_form", locals: { search_term: @search_term } %>
        </div>
      </div>
      <hr>
    </div>
  </div>

</div>